<component name="ArtifactManager">
  <artifact type="exploded-war" name="Spring_Demos:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/Spring_Demos_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="Spring_Demos/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Spring_Demos" />
        </element>
      </element>
    </root>
  </artifact>
</component>